---
export interface Props {
  id: string
}

const { id } = Astro.props;
---

<h2 id={id} data-aos="zoom-in">
  <slot />
</h2>

<style>
  h2 {
    display: flex;
    gap: 1rem;
    justify-content: center;
    font-size: 1.5rem;
    line-height: 33px;
  }

  @media (min-width: 768px) {
    h2 {
      display: flex;
      gap: 1rem;
      justify-content: center;
      font-size: 2.5rem;
      line-height: 55px;
    }
  }

  @media (min-width: 1024px) {
    h2 {
      display: flex;
      gap: 1rem;
      justify-content: center;
      font-size: 3.5rem;
      line-height: 77px;
    }
  }
</style>