<h1 data-value="ALPHA E-SPORTS">ALPHA E-SPORTS</h1>

<style>
  h1 {
    padding: 2rem;
    text-align: center;
    font-size: 1.875rem;
    line-height: 46px;
  }

  @media(min-width: 768px) {
    h1 {
      font-size: 3rem;
      line-height: 60px;
    }
  }

  @media(min-width: 1024px) {
    h1 {
      font-size: 3.75rem;
      line-height: 82px;
    }
  }
</style>