<script>
  const canvas = document.querySelector("canvas");
  const ctx = canvas.getContext("2d");
  let mouse = null;
  document.addEventListener("mousemove", (t) => {
    mouse = {
      x: t.clientX,
      y: t.clientY,
    };
  }),
    document.addEventListener("mouseout", (t) => {
      mouse = null;
    });
  class Point {
    constructor() {
      (this.x = Math.random()),
        (this.y = Math.random()),
        (this.vx = 2 * Math.random() - 1),
        (this.vy = 2 * Math.random() - 1),
        (this.MOTION_SPEED = 0.3),
        (this.INTERACTION_SPEED = 100);
    }
    getX() {
      return this.x * canvas.width;
    }
    getY() {
      return this.y * canvas.height;
    }
    tick() {
      (this.x += (this.vx / canvas.width) * this.MOTION_SPEED),
        (this.y += (this.vy / canvas.height) * this.MOTION_SPEED),
        this.x < 0 && ((this.x = 0), (this.vx *= -1)),
        this.x > 1 && ((this.x = 1), (this.vx *= -1)),
        this.y < 0 && ((this.y = 0), (this.vy *= -1)),
        this.y > 1 && ((this.y = 1), (this.vy *= -1));
    }
    reject(t) {
      const e = t.x - this.getX(),
        i = t.y - this.getY(),
        s = Math.hypot(e, i);
      s > 150 ||
        ((this.x -= (e / s / s / canvas.width) * this.INTERACTION_SPEED),
        (this.y -= (i / s / s / canvas.height) * this.INTERACTION_SPEED));
    }
  }
  class Star extends Point {
    constructor() {
      super(), (this.size = 1.5 * Math.random() + 1), (this.MOTION_SPEED = 0.1);
    }
  }
  const area = window.innerWidth * window.innerHeight,
    points = new Array(~~Math.min(area / 4e3, 250))
      .fill()
      .map(() => new Point()),
    stars = new Array(~~Math.min(area / 4e3, 250)).fill().map(() => new Star()),
    render = () => {
      (lastMouse = mouse),
        (canvas.width = window.innerWidth),
        (canvas.height = window.innerHeight),
        (ctx.fillStyle = "#ccccff30"),
        (ctx.strokeStyle = "#ccccff1a"),
        (ctx.strokeWidth = 1);
      for (let t of points) t.tick(), mouse && t.reject(mouse);
      for (let t of stars)
        t.tick(),
          mouse && t.reject(mouse),
          ctx.beginPath(),
          ctx.arc(t.getX(), t.getY(), t.size, 0, 2 * Math.PI),
          ctx.fill();
      const t = 100,
        e = Math.ceil(canvas.width / t),
        i = Math.ceil(canvas.height / t);
      let s = new Array(i).fill().map(() => new Array(e).fill().map(() => []));
      for (let e of points) {
        const i = Math.round(e.getX() / t + 0.5),
          n = Math.round(e.getY() / t + 0.5),
          a = Math.round(e.getX() / t - 0.5),
          h = Math.round(e.getY() / t - 0.5);
        let o = 0;
        const r = (t) => {
          if (t)
            for (let i of t) {
              if (o > 3) return;
              (i.getX() - e.getX()) ** 2 + (i.getY() - e.getY()) ** 2 > 1e4 ||
                (++o,
                ctx.beginPath(),
                ctx.moveTo(e.getX(), e.getY()),
                ctx.lineTo(i.getX(), i.getY()),
                ctx.stroke());
            }
        };
        r(s[n]?.[i]),
          r(s[n]?.[a]),
          r(s[h]?.[i]),
          r(s[h]?.[a]),
          s[h]?.[a]?.push(e);
      }
      requestAnimationFrame(render);
    };
  render();
</script>
