---
import Base from "@/layouts/Base.astro";
import Particles from "@/components/astro/Particles.astro";
import Navbar from "@/components/astro/Navbar.astro";
import Name from "@/components/astro/Name.astro";
import Headings from "@/components/astro/Headings.astro";

const image = {
  url: "/favicon.ico",
  alt: "The official logo of Alpha Esports",
};

const title = "Alpha Esports";
const description = `Alpha eSports is a clan alliance based on the game Clash Of Clans. Founded in 2018 by Junayd, we are a friendly community who work together and help each other out! We have a clan for everyone. From chilled and laid back to competetitive clans, we have a clan that is suited for you.`;
const tags = ["Clash of clans", "Esports"];

const layoutProps = { title, description, tags, image };
---

<Base {...layoutProps}>
  <Particles />
  <Navbar />
  <div data-role="main-cover">
    <main>
      <Name />
      <Headings id="description">
        <img
          src="/confused-barb.png"
          alt="an image of a confused barbarian troop"
          height="64px"
          class="inline-block"
        /> | Who are we?
      </Headings>
      <p data-role="description-paragraph" data-aos="zoom-in">
        Founded in 2018 by Junayd, we are a clan alliance-based community, open,
        friendly and always helping each other out! From chilled and laid-back
        to competitive clans, we always have one for you! Our discord
        server open to all, with tons of events, prizes, giveaways and more! We
        are always looking forward to meet new players with a warm welcome!
      </p>
    </main>
  </div>
</Base>

<script>
  import AOS from "aos";
  import "aos/dist/aos.css";
  AOS.init();
</script>

<style>
  div[data-role="main-cover"] {
    padding: 0 1.25rem;
    display: grid;
    gap: 0 1.25rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  main {
    grid-column: 1 / -1;
  }

  p[data-role="description-paragraph"] {
    text-align: center;
    padding: 1.5rem 0.75rem;
  }

  .inline-block {
    display: inline-block;
  }

  @media (min-width: 768px) {
    div[data-role="main-cover"] {
      display: grid;
      grid-template-columns: repeat(8, minmax(0, 1fr));
    }

    main {
      grid-column: 2 / span 6;
    }
  }

  @media (min-width: 1280px) {
    div[data-role="main-cover"] {
      display: grid;
      padding: 0;
      gap: 0 1.5rem;
      grid-template-columns: repeat(12, minmax(0, 1fr));
    }

    main {
      grid-column: 3 / span 7;
    }
  }
</style>
