<nav>
  <div>
    <a href="/tournaments">Tournaments</a>
    <a href="/updates">Updates</a>
  </div>
  <ul>
    <li>
      <a href="https://discord.gg/alpha-esports" aria-label="discord link">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="48"
          height="48"
          viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            d="M19.27 5.33C17.94 4.71 16.5 4.26 15 4a.09.09 0 0 0-.07.03c-.18.33-.39.76-.53 1.09a16.09 16.09 0 0 0-4.8 0c-.14-.34-.35-.76-.54-1.09c-.01-.02-.04-.03-.07-.03c-1.5.26-2.93.71-4.27 1.33c-.01 0-.02.01-.03.02c-2.72 4.07-3.47 8.03-3.1 11.95c0 .02.01.04.03.05c1.8 1.32 3.53 2.12 5.24 2.65c.03.01.06 0 .07-.02c.4-.55.76-1.13 1.07-1.74c.02-.04 0-.08-.04-.09c-.57-.22-1.11-.48-1.64-.78c-.04-.02-.04-.08-.01-.11c.11-.08.22-.17.33-.25c.02-.02.05-.02.07-.01c3.44 1.57 7.15 1.57 10.55 0c.02-.01.05-.01.07.01c.11.09.22.17.33.26c.04.03.04.09-.01.11c-.52.31-1.07.56-1.64.78c-.04.01-.05.06-.04.09c.32.61.68 1.19 1.07 1.74c.03.01.06.02.09.01c1.72-.53 3.45-1.33 5.25-2.65c.02-.01.03-.03.03-.05c.44-4.53-.73-8.46-3.1-11.95c-.01-.01-.02-.02-.04-.02zM8.52 14.91c-1.03 0-1.89-.95-1.89-2.12s.84-2.12 1.89-2.12c1.06 0 1.9.96 1.89 2.12c0 1.17-.84 2.12-1.89 2.12zm6.97 0c-1.03 0-1.89-.95-1.89-2.12s.84-2.12 1.89-2.12c1.06 0 1.9.96 1.89 2.12c0 1.17-.83 2.12-1.89 2.12z"
          ></path></svg
        >
      </a>
    </li>
    <li>
      <a
        href="https://www.youtube.com/channel/UCrIc2fZ5xt5cXz1UYLcU8iw"
        aria-label="youtube link"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="48"
          height="48"
          viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            d="m10 15l5.19-3L10 9v6m11.56-7.83c.13.47.22 1.1.28 1.9c.07.8.1 1.49.1 2.09L22 12c0 2.19-.16 3.8-.44 4.83c-.25.9-.83 1.48-1.73 1.73c-.47.13-1.33.22-2.65.28c-1.3.07-2.49.1-3.59.1L12 19c-4.19 0-6.8-.16-7.83-.44c-.9-.25-1.48-.83-1.73-1.73c-.13-.47-.22-1.1-.28-1.9c-.07-.8-.1-1.49-.1-2.09L2 12c0-2.19.16-3.8.44-4.83c.25-.9.83-1.48 1.73-1.73c.47-.13 1.33-.22 2.65-.28c1.3-.07 2.49-.1 3.59-.1L12 5c4.19 0 6.8.16 7.83.44c.9.25 1.48.83 1.73 1.73Z"
          ></path></svg
        ></a
      >
    </li>
    <li>
      <a href="https://twitter.com/alphaesport_coc" aria-label="twitter link"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="48"
          height="48"
          viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            d="M22.46 6c-.77.35-1.6.58-2.46.69c.88-.53 1.56-1.37 1.88-2.38c-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29c0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15c0 1.49.75 2.81 1.91 3.56c-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.22 4.22 0 0 1-1.93.07a4.28 4.28 0 0 0 4 2.98a8.521 8.521 0 0 1-5.33 1.84c-.34 0-.68-.02-1.02-.06C3.44 20.29 5.7 21 8.12 21C16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56c.84-.6 1.56-1.36 2.14-2.23Z"
          ></path></svg
        ></a
      >
    </li>
    <li>
      <a
        href="https://www.instagram.com/alphaesports_coc"
        aria-label="instagram link"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="48"
          height="48"
          viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3Z"
          ></path></svg
        ></a
      >
    </li>
  </ul>
</nav>

<style>
  nav,
  ul,
  div {
    display: flex;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  div {
    padding: 1rem 0;
    min-width: 90%;
    justify-content: space-evenly;
    gap: 0.5rem;
  }

  div > a {
    position: relative;
    min-width: 8rem;
    height: 2.25rem;
    line-height: 2.25rem;
    text-align: center;

    color: var(--btn-text);
    background-color: var(--btn-normal);
    font-weight: 550;

    transform: rotate(-2deg);
    outline: 0;
  }

  div > a:after {
    position: absolute;
    content: "";

    border: 1px solid var(--btn-text);
    bottom: 0.25rem;
    left: 0.25rem;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
  }

  div > a:hover {
    background-color: var(--btn-hover);
  }

  div > a:hover:after,
  div > a:focus:after {
    bottom: 2px;
    left: 2px;
  }

  ul {
    order: -1;
    min-width: 90%;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.25rem;
    border-bottom: 0.25rem var(--divider) solid;
    gap: 0.5rem;
  }

  ul a > svg {
    transition: transform 0.1s ease-in-out;
  }

  ul a:hover > svg,
  ul a:focus > svg {
    transform: scale(1.25) rotate(-2deg);
  }

  @media (min-width: 640px) {
    nav {
      box-sizing: border-box;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding: 0.25rem 1rem;
    }

    div,
    ul {
      min-width: 0;
    }

    div {
      gap: 2rem;
    }

    ul {
      order: 2;
      border-bottom: none;
    }
  }
</style>
